<ng-container *ngIf="orders$ | async as orders">
    <h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Contact Nuber</th>
      <th>Address</th>
      <th>Date</th>
      <th>Total Price</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.shipping.mobNumber}}</td>
      <td>{{ order.shipping.address }}, {{ order.shipping.city }}, {{ order.shipping.state }}</td>
      <td>{{ order.datePlaced | date}}</td>
      <td> {{ order.total}}
      </td>
    </tr>
  </tbody> 
</table>
</ng-container>
