
.card { 
    margin-bottom: 30px;
    width: 300px;
    align-content: center;
  }
  
  .card-img-top { 
    height: 250px;
    width: 250px;
    align-content: center;
  }
  
  .card-footer {
    padding: 0;
    background: #fff;
  }
  
  .card-footer button {
    cursor: pointer;
    text-transform: uppercase;
  }


 