
<mat-tab-group>
    <mat-tab label="Rider List">
        <mat-toolbar>
            <span class="fill-remaining-space"></span>
            <span>Rider List</span>
            <span class="fill-remaining-space"></span>
        </mat-toolbar>
    
        <app-delivery-rider-list></app-delivery-rider-list>
           
    </mat-tab>

    <mat-tab label="Delivery Report">
        <mat-toolbar>
            <span class="fill-remaining-space"></span>
            <span>Delivery Report</span>
            <span class="fill-remaining-space"></span>
        </mat-toolbar>
  
        <app-delivery-report></app-delivery-report> 
    
    </mat-tab>
</mat-tab-group>