<P>
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</P>
<table class="table">
    <thead>
        <tr class = "list-title">
            <th>Title</th>
            <th>Price</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        <tr class = "list-text" *ngFor="let p of products$ | async">
            <td>{{ p.title }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.date }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.category }}</td>
            <td>{{ p.sizes }}</td>
           

        
            <!-- <td>
                <button class="btn btn-primary" (click)="onEdit(p.key)">Edit</button>
                <a [routerLink]="['/admin/products/new']">Edit</a>
            </td> -->
            
            <td>
                <button class="btn btn-primary" (click)="onClear(p.key)">Clear</button>
            </td>
           
           
        </tr>
    </tbody>
</table>