<div *ngIf="products?.length > 0;else noItems">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>
                    <div [style.backgroundImage]="'url(' + p.imageUrl + ')'" class="thumbnail"></div>
                </td>
                <td>{{ p.title }}</td>
                <td>{{ p.price }}</td>
                <td>
                    <button (click)="addToCart(p)" class="btn btn-primary">Add to cart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noItems>
    <hr>
    <h5>There  are no items to list</h5>
</ng-template>