<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <i aria-hidden="true">SugunasTextile
          <svg class="bi bi-bag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4h14v10a2 2 0 01-2 2H3a2 2 0 01-2-2V4zm7-2.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
          </svg> 
        </i>
      </a>
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
        </ul>
      
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="cart$ | async as cart">
            <a class="nav-link" routerLink="/shopping-cart" [class.disabled]="cart.totalItemsCount == 0 ? true : null">
              <i class="fa fa-shopping-cart fa-2x"></i>
              <span class="badge badge-warning badge-pill">
                {{ cart.totalItemsCount }}
              </span>
            </a>
          </li>
        </ul>
        

        <ul class="navbar-nav">
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signin">Sign In</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
            </li>
          </ng-template>
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ (appUser.name) ? appUser.name :'Options' }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
              <a class="dropdown-item" routerLink="/dashboard">My Profile</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
              </ng-container>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  