
  <form [formGroup]="service.form" class="normal-form" >
      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="controles-container2">
            <input type="hidden" formControlName="$key">
            <mat-form-field>
              <input formControlName="supName" matInput placeholder="Supplier Name">
              <mat-error>This field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field>
                  <input formControlName="compName" matInput placeholder="Company Name">
            </mat-form-field>
            <mat-form-field>
                  <input formControlName="email" matInput placeholder="Email">
                  <mat-error>Invalid Email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="mobile" matInput placeholder="Mobile" type="number">
              </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="controles-container">
  
            <mat-form-field>
                  <input formControlName="address" matInput placeholder="Address">
            </mat-form-field>
              <mat-form-field>
                  <mat-select formControlName="oType" placeholder="Order Type">
                      <mat-option>None</mat-option>
                          <ng-container *ngFor="let OrderTypes of OrderTypes">
                              <mat-option value="{{OrderTypes.id}}">{{OrderTypes.value}}</mat-option>
                          </ng-container>
                  </mat-select>
              </mat-form-field>
  
              
  
  
  
  
  
  
  
  
          </div>       
        </mat-grid-tile>
      </mat-grid-list>
    </form>